@{
    ViewData["Title"] = "404";
}


<h1 class="pt-5">OOps Qualcosa è andato storto! </h1>
<h2>@Model</h2>
@*<img src="~/img/NotFoundBg.jpg" />
*@

<style>
    body{
        background-image: url("../wwwroot/img/NotFoundBg.jpg")
    }
</style>